.container {
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0, 0.1);
  background-color: #f9f9f9;
}

h2{
  margin-bottom: 20px;
  color: #333;
}
.input-group {
  margin-bottom: 20px;

}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.pssword-input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.message {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.error{
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
.success{
  color: #5cb85c;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}